


/*-----------------顶部栏---------------------------*/

.board{height:50px; width: 100%; position:fixed; left: 0;top:0;   z-index: 5;  background: #9E0323;  display: none;}   

.board img{float: left; margin: 5px 130px; width:50px; height: 40px; }
.board .travel{float: left; margin-top: 10px;}
.travel  .gather{width:500px; height:25px; border:1px solid #444851; }
.travel  .ask{width:60px; height:30px; background: #B51748; border: 0; color: white;}


/*-----------------侧边栏---------------------------*/
#sideBar{position:fixed;right: 0;top: 0px;   
            width: 50px; /*height: 677px;*/  background:#444851;
            z-index: 6;                        }
            
#sideBar ul li{   border-bottom: 1px solid #7B7F8A; text-align: center;}
#sideBar ul li .come1,.come2,.come3,.come4,.come5,.come6{padding: 5px 15px; color:white; display:block;width:20px;margin:0 auto; margin-top: 10px;}
#sideBar ul .cs1{ height:100px;    position:relative;   }
#sideBar ul .cs2{ height:120px;       }
#sideBar ul .cs2 span{display: block; background: #b51748;border-radius: 50%; }

#sideBar ul .cs3{ height:150px;      }
#sideBar ul .cs4{ height:80px;      }
#sideBar ul li a:hover{background: #94193f;}
/*-----------------注册登录---------------------------*/
#log_ins{width:280px; height:280px; background: #ffffff; position: absolute; right: 50px; top:0; padding:10px; /*z-index: 7;*/  }

/*---图形验证码---*/
.graph{width:270px; height:60px; margin-left: 5px; }

.graph .codes{float: left; }
 .graph  #my_button{padding:2px; background: #0086B3;} 
/*---------------*/ 


 #log_ins input{width:260px; height:36px; padding-left: 10px; border: 1px solid #666666;margin-top: 20px;}
 #log_ins .codes{width:100px;}
 /*--登录--*/
 #log_ins  .logist{background: #b51748; display: block;  border-radius: 5px; color: white; border: 0;  padding:8px 80px; margin-top: 15px; }
 /*------忘记密码---------*/

 #log_ins  #forget{color:#333333; float: left; margin-left: 10px; }
 #log_ins  #diately{color:#4f0f19; float: right; margin-right: 10px;}






/*-----------------导航---------------------------*/
.top{height:36px;background-color:#fafafa; border-bottom: 1px solid #dde0df;   }
.main{width:1015px;  /*height:128px; background-color: #333333; */     margin:0 auto;  }
.lefttop{float:left}
.lefttop p{float:left;  line-height: 36px;}
.lefttop .v1{margin-right: 20px;}
.lefttop .v2 a{padding:0 10px;}
.lefttop p:nth-child(2)  a { border-right: 1px solid #666666;     }
 

.righttop{float:right}
 
.righttop li{float:left;line-height: 36px;} 

.righttop li a{padding:0 10px;  border-right: 1px solid #666666;     }
.righttop .v3 a {border:0}
 

/*-----------------logo---------------------------*/
.logo{height:122px;    }

.logoleft{float: left;  height: 102px; width:520px;       padding-top:20px; }
.logoleft .v1{margin-bottom: 15px;}

.logoright{ width:495px;  height:100%;    float:left;}

.logo-search{width:100%; height:70%;      }
.logo-lav{  width:100%; height:30%;  }

.mrag{width:360px;height:40px; border:2px solid #94193f;  margin-top: 37px; float: left;  position:relative;}
#isogeny{position:absolute;width:310px; display: none; left: 0;top:42px; background: #bcbcee; opacity: 0.85;   filter:alpha(opacity==50);   border: 1px solid #ccc; z-index:10; }
 
#isogeny li{width:310px;height:26px;}

.mrag  #ven1{    width:260px; height:37px;  padding-left: 10px;      border:0; float: left;  }
.mrag  #ven2{  float:right;  padding:10px ; background: #94193F; border: 0; color:#fff; font-size: 15px;         }

.cart-button{padding:10px; background: #f9f9f9; float: left; margin-top: 37px;  margin-left: 15px;  position:relative;   border: 1px solid #d8d8d8;  }
.cart-button  span{position:absolute;  top:-12px;  right:20px; background: #94193f; border-radius: 50%; padding:2px 5px;              } 
.logo-lav p{height:100%;  width:100%; overflow: hidden;     }
.logo-lav p a{padding:2px;     }
.logo-lav p a:hover{color:brown;         }


/*-----------------nav---------------------------*/
.nav{height:42px;  text-align:center;    position:relative;   }
.nav #box-nav{  display:inline-block;     }
.nav #box-nav li{float:left;     line-height:42px;  padding:0 20px;     }

.nav #box-nav li a{   font-size:16px;     padding:10px 0; /* border: 1px solid #A52A2A;  */ }
.nav #box-nav li a:hover{border-bottom:2px solid #A52A2A; }


/*-----------------nav  二级菜单---------------------------*/
 #aside{
	     width:218px;height:422px ; background: #dee1e0;   
         position: absolute;   left:0; top:0;    
         	opacity: 0.85;   filter:alpha(opacity==50); 
         	z-index: 5;                      
			}



 #aside h3{text-align: center; height: 30px; padding-top: 10px;  background: #94193f;   border: 1px solid #A52A2A;  color:wheat;          }

 #aside h3 a{color:white; font-size: 17px; font-weight: normal; }


 #aside h3 span{font-size: 20px;  color:white; float: right;  margin-right: 15px;       }


 #aside ul li {text-align: center; line-height: 40px;    margin-top: 10px; color:#333333;  }
 #aside ul li  a{ font-size:14px ; color:#333333;    }
 #aside ul li  a:hover{color:#94193f}

 #aside ul li  a i {font-size: 26px; padding:0 5px;   vertical-align: middle;}


/*----右边隐藏部分--*/
 .menu2{width:385px; height: 382px;  position:absolute; left:218px; top:42px; z-index: 5;       }

 .menu2 p{margin-top: 10px;  margin-left: 10px; line-height:30px; text-align: center;}
 .menu2 p a {padding:5px 10px; background:#0086B3; margin-right: 5px; }



.menu2 #me-list{position: relative;  width:385px; height: 100%;}


.menu2  #me-list li{width:385px; height: 100%; background: #a5b0b2;   position:absolute; left:0 ; top:0;  display: none; }

.menu2  #me-list li a:hover{background: #94193f;} 



/*-----------------banner------------------------------------------*/
.banner{ width:100%; height:382px;   position:relative;          }





/*-----------------live--------------------------------------------*/
.live{ height:366px; /*background: #666666; */margin-top:40px;             }

.tit1{height:56px; width:100%; /*background: #63A35C;*/}  
.product{height:316px; width:100%; /*background:#decebf */;}  


.tit1 ul li {float:left;    text-align: center;   padding:16px 5px;   border-bottom: 3px solid #333333; font-size: 16px; margin-left: 50px; }

.tit1 button{  margin-left: 60px;  background: #eb2d58;   border-radius: 12px;  border: 0;  margin-top: 10px; font-size: 18px;   color:white;  padding:6px }

.tit1 button img{vertical-align: middle;}
.tit1 h1{float: right;  margin-right: 20px;   line-height: 56px;  font-weight:500  }

/*-----------播放视口 和ul---------------*/

#carous{ position: relative;  width:100%; height:100%;  overflow: hidden;      }
#carous ul{ width: 100%;   height:100%; position: absolute;  left: 0;top:0;  }

#carous ul li{width:200px; height:294px; float: left; /*border: 1px solid #666666;*/    padding:10px 0;      }
#carous #pvc1,#carous #pvc2 ,#pvc3,#pvc4 { padding: 5px;  background: #333333; position:absolute;  top:45%;   border: 0;  z-index: 9;        }
				
#pvc1,#pvc3{left:5px;}
#pvc2,#pvc4{right:5px;}
/*--------------------------------li节点---------------------------------*/
.adjust1{position:relative;  }
.adjust1 .fi{width:180px; height:190px;  margin-left: 10px;}

.adjust1 .sub1{line-height: 20px;margin:0 10px;  color:#666666   }
.adjust1 .sub2{  margin: 10px 10px;       }
.adjust1  .sub3{font-size: 20px; font-weight: 500; color:#c4197a; margin-left: 10px; }
.adjust1  .sub3 span{font-size: 14px;color:#666666;text-decoration:line-through;margin-left: 10px; }

.adjust1 .dow {width:50px; height:20px; background: #a6a6a6;position:absolute; left:20px; top:20px; 
   padding:5px;  opacity: 0.65;   filter:alpha(opacity==50);  border-radius: 6px;           }
.adjust1 .dow p{ color:white}
.adjust1 .dow  img{width:15px; height:15px; vertical-align: middle;        }



/*------------------------------新品刷新------------------------------*/

.recommend{height:382px; /*border: 1px solid sienna;*/  margin-top:40px;  }
.qua{height:65px;/* background: #999999;*/ border-bottom: 1px solid #55A532;   }
.qua h1{float: left;line-height: 62px; margin-left:10px; font-size: 24px; font-weight: 500; border-bottom: 3px solid #0086B3; }
.qua p{float: right; padding: 0 10px; line-height: 62px;  font-size: 18px;}
.qua p img{vertical-align: middle;margin-left: 15px;}


.awe{ height:316px;        }
.awe ul{width:100%; height:100%;       }
.awe ul li{width:201px; height:294px; float: left;     padding:10px 0;  }


/*------------------------------精选活动------------------------------*/
.program{ margin-top: 40px;   height:920px;                 }
.program ul li{float: left;}
.program ul li img{width:490px; height:196px; margin-top: 10px; margin-left: 11px;  }


/*------------------------------个性美肤------------------------------*/
.skin{height:790px; margin-top: 40px;}


#indin{height:46px; }
#indin h1{width:830px; line-height: 45px;  padding:0  10px; border-bottom: 1px solid #780202;  font-weight: 500;    float: left;               }

#indin ul li:first-child{border-left: 2px solid #780202; border-right: 2px solid #780202;  border-top: 2px solid #780202;  border-bottom:0 ;               }
#indin ul li{float: left; border-bottom:1px solid #780202 ;                                                                           }
#indin ul li a{  padding:12px 15px;    float: left;       }

#indin ul li:hover{   }
#indin ul li a:hover{background: #0086B3; border-radius: 5px;    color:white}

/*----主体部分-----*/
#diven {   height:630px;  padding-left: 10px;                 }
#diven a{ float: left; margin-right: 3px;  margin-top: 20px;  }


/*--  ul li --*/               
#nation li{width:190px; height:290px; float: left;  margin-left: 6px; margin-top: 20px;        }

#nation li:nth-child(3){margin-left: 0;}
/*#nation li:hover{ }*/  


/*---------美肤li样式--------*/

.hard .dl{width:170px; height:170px;  margin-left: 10px; margin-top: 10px;}

.hard .so1{line-height: 20px;margin:0 10px;  color:#666666   }
.hard .so2{  margin: 10px 10px;       }
.hard  .so3{font-size: 20px; font-weight: 500; color:#c4197a; margin-left: 10px; }
.hard  .so3 span{font-size: 14px;color:#666666;text-decoration:line-through;margin-left: 10px; }

 /*-品牌-*/
 .yindu{width:1013px;height:100px;  margin-top: 5px;   }

 .yindu .vava {text-align: center;  line-height: 100px; font-size: 18px;} 
 .yindu .vava  a{padding:3px 3px 3px 6px; border-right: 1px solid #A5B0B2; }
  .yindu  .vava  a:last-child{border-right:0}
 .yindu .vava img{vertical-align: middle;}



/*------------------------------厨具日用------------------------------*/

.cool{height:790px; margin-top: 40px;/*background: #e2d6c6;*/}

/*----标题部分-----*/
#kw{height:46px; }
#kw h1{width:510px; line-height: 45px;  padding:0  10px; border-bottom: 1px solid #780202;  font-weight: 500;    float: left;         }

#kw ul li:first-child{border-left: 2px solid #780202; border-right: 2px solid #780202;  border-top: 2px solid #780202;  border-bottom:0 ;               }
#kw ul li{float: left;border-bottom:1px solid #780202 ;                                                                           }
#kw ul li a{  padding:12px 15px;   float: left;       }

#kw ul li:hover{}
#kw ul li a:hover{background: #0086B3; border-radius: 5px;    color:white}


/*--------------主体部分----------*/
.heath {height:630px; width:100%; }  
#best1,#best2{   height:294px; /*  border: 1px solid #A0522D;*/ margin-top: 20px; }

#best1 li,#best2 li{width:190px; height:290px; float: left;   margin-left: 9px;}
#best1 li:hover{transform:translateX(-8px);  transition: transform 0.5s;} 
#best2 li:hover{transform:translateX(-8px);  transition: transform 0.5s;} 
#best1  .wind1{width:590px; height: 290px;}
#best1 .wind1 img{margin-top: 10px;             }


/*--li样式 -- */
.wind .dry{width:170px; height:170px;  margin-left: 10px; margin-top: 10px;}

.wind .si1{line-height: 20px;margin:0 10px;  color:#666666   }
.wind .si2{  margin: 10px 10px;       }
.wind  .si3{font-size: 20px; font-weight: 500; color:#c4197a; margin-left: 10px; }
.wind  .si3 span{font-size: 14px;color:#666666;text-decoration:line-through;margin-left: 10px; }



/*-----------------------------------------为您优选-------------------------------------*/
.givenle{height:1170px;  border-bottom: 1px  solid #ccc;   margin-top: 40px; overflow: hidden;}
.dragon1{width:100%; height:50px; background: #e7e7eb; text-align: center; line-height: 50px;}
.dragon1 .comve{display: inline-block;}
.dragon1 span{width:150px; height:1px; margin-top: 25px;  background: white; display: block; float: left;}
.dragon1 h2{float: left; margin: 0 5px; font-family: "微软雅黑"; }

.givenle   .checkBox{
	
	border: 1px #ccc solid;
	padding:0 10px;
	margin-top: 5px;
}
.checkBox>div{
	padding: 10px 0;
}
.checkBox>div:nth-of-type(1){
	border-bottom: 1px dotted #ddd;
}
.checkBox i{
	font-style: normal;
	color: #ccc;
}
.checkBox .box1 span{
	color: #111;
	display: inline-block;
	line-height: 22px;
	margin: 0 40px;
	padding: 10px;
}
.checkBox .box2 span{
	color: #111;
	display: inline-block;
	line-height: 22px;
	margin: 0 45px;
	padding: 10px;
}
.checkBox span:hover{
	color: #fff;
	background: #42a48e;
	border-radius: 5px;
}
.checkBox span.active{
	color: #fff;
	background: #42a48e;
	border-radius: 5px;
}

.paixu{
	
	line-height: 50px;
}
.paixu span{
	margin-right: 30px;
}
.paixu input{
	
}
.paixu input.activeBox{
	border: 3px solid #CC0000;
}


#unlist{
	
}
#unlist li{
	width:190px; 
	height:290px;
	background: #f7f7f9;
	float: left;
	/*text-align: center;*/
	margin-left: 10px;
	margin-bottom: 25px;
}
/*#unlist li:nth-child(5n+1){
	margin-left: 0;
}*/
/*#unlist li p{
	line-height: 30px;
}
#unlist li span{
	color: orange;
}*/

/*---------li样式---------*/

.exert{position:relative;}
.exert input{position:absolute; right: 5px; top:5px;;}
.exert .dry{width:170px; height:170px;  margin-left: 10px; margin-top: 10px;}

.exert .sl1{height: 15px;margin:0 10px;  color:#666666   }
.exert .sl2{ height:40px;    margin: 10px 10px;       }
.exert  .sl3{font-size: 20px; font-weight: 500; color:#c4197a; margin-left: 10px; margin-top: 5px; }
.exert  .sl3 span{font-size: 14px;color:#666666;margin-left: 10px; color: #008B8B; }


#unlist li:hover{transform:translateX(-8px);  transition: transform 0.5s;  }


/*-------------------------------------------*/

.footli img{width:100%;height:600px;margin-top: 20px;}



